.col1 {
  background-color: #505050;
  color: #000000;
}
.col2 {
  color: #505050;
  background-color: #000000;
}
button, select, label {
  background-color: #505050;
  color: #000000;
  border: 2px solid #505050;
}
@media (any-hover: hover) {
  button:hover, select:hover, label:hover {
    color: #505050;
    background-color: #000000;
  }
}
body {
  background-color: #808080;
}
