.col1 {
  background-color: #bfbfbf;
  color: #f2f2f2;
}
.col2 {
  color: #bfbfbf;
  background-color: #f2f2f2;
}
.ci1 {
  -webkit-appearance: none;
}
button, select, label, .ci1 {
  background-color: #bfbfbf;
  color: #f2f2f2;
  border: 2px solid #bfbfbf;
}
button:hover, select:hover, .ci1:checked {
  color: #bfbfbf;
  background-color: #f2f2f2;
}
