.col1 {
  color: #ff9900;
  background-color: #1da31b;
}
.col2 {
  background-color: #ff9900;
  color: #1da31b;
}
button, select, label {
  background-color: #1da31b;
  color: #ff9900;
  border: 2px solid #1da31b;
}
button:hover, select:hover, label:hover {
  color: #1da31b;
  background-color: #ff9900;
}
body {
  background-color: #27db24;
}
