table {
  border: 2px solid black;
  box-sizing: border-box;
  border-collapse: collapse;
  padding: 20px;
}
td {
  border: 0px solid black;
  text-align: center;
  width: 50px;
  height: 50px;
}
button, select, label {
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  transition-duration: 0.4s;
}
button, select {
  height: 45px;
  width: 150px;
  padding: 10px;
}
label {
  height: auto;
  width: 146px;
  padding: 10px 0px 10px 0px;
}
input {
  width: 49px;
  height: 49px;
  text-align: center;
  font-size: 40px;
  background: white;
  border: 0px;
  font-weight: 700;
}
.lcb {
  display: none;
  width: 0px;
  height: 0px;
}
.lb1 {
  text-decoration: line-through;
}
body {
  display: flex;
  margin: 10px;
}
.actions {
  display: flex;
  flex-direction: column;
}
.actions > button, label, select {
  margin-bottom: 10px;
  margin-left: 10px;
}
hr {
  margin-left: 10px;
  margin-top: 0px;
  width: 150px;
  border-left: 0px;
  border-right: 0px;
}
