body {
  display: flex;
  margin: 10px;
  overflow-x: clip;
  flex-direction: column;
}

noscript {
  background-color: #640606;
  color: #f0dabf;

  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  height: fit-content;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.content { 
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
  }
}

#board {
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(var(--edgeSize), 1fr);
  grid-template-rows: repeat(var(--edgeSize), 1fr);

  gap: 1px;

  container-type: inline-size;
}

input {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: calc(100cqi / var(--edgeSize));
  border: none;
  box-sizing: border-box;
  font-weight: 700;
  overflow: clip;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 650px) {
  .actions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  hr {
    display: none;
  }
} 

button, select, label {
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  transition-duration: 0.4s;
}
button, select {
  height: 45px;
  width: 150px;
  padding: 10px;
}
label {
  height: auto;
  width: 146px;
  padding: 10px 0px 10px 0px;
}
.lcb {
  display: none;
  width: 0px;
  height: 0px;
}
.lb1 {
  text-decoration: line-through;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 150px;
  border-left: 0px;
  border-right: 0px;
}
