@media (prefers-color-scheme: light) {
  .col1 {
    background-color: #bfbfbf;
    color: #f2f2f2;
  }
  .col2 {
    color: #bfbfbf;
    background-color: #f2f2f2;
  }
  button, select, label {
    background-color: #bfbfbf;
    color: #f2f2f2;
    border: 2px solid #bfbfbf;
  }
  button:hover, select:hover, label:hover {
    color: #bfbfbf;
    background-color: #f2f2f2;
  }
  body {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .col1 {
    background-color: #505050;
    color: #000000;
  }
  .col2 {
    color: #505050;
    background-color: #000000;
  }
  button, select, label {
    background-color: #505050;
    color: #000000;
    border: 2px solid #505050;
  }
  button:hover, select:hover, label:hover {
    color: #505050;
    background-color: #000000;
  }
  body {
    background-color: #808080;
  }
}
